<!doctype html>
<html lang="{{page.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{'/css/main.css' | relative_url}}?commit={{site.git.commitlong}}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{'/css/icons.css' | relative_url}}?commit={{site.git.commitlong}}" async crossorigin="anonymous">
    <title>{{page.title}} - {{site.my.sitetitle}}</title>

    <link rel="webmention" href="{{site.my.webmention_endpoint}}">
    <link rel="pingback" href="{{site.my.pingback_endpoint}}">
    <link rel="authorization_endpoint" href="{{site.my.authorization_endpoint}}">
    <link rel="token_endpoint" href="{{site.my.token_endpoint}}">
    <link rel="indieauth-metadata" href="{{site.my.metadata_endpoint}}">
    <link rel="micropub" href="{{site.my.micropub_endpoint}}">

    {% assign authorinfo = site.authors | where: 'short_name', page.author | first %}

    {% if authorinfo.short_name %}
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="{{authorinfo.name}}">
    <meta name="author" content="{{authorinfo.name}}">
    <meta name="fediverse:creator" content="{{authorinfo.mastodonhandle}}">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:url" content="{{site.url}}{{page.url | relative_url}}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{site.my.sitetitle}}">
    <meta property="og:image" content="{{site.url}}{{page.image | default: '/favicon/apple-touch-icon.png' | relative_url}}">

    {% if page.date %}
    <meta property="og:article:published_time" content="{{page.date | date_to_xmlschema}}">
    {% endif %}

    <meta name="twitter:card" content="summary">

    {% if authorinfo.twitter %}
    <meta name="twitter:creator" content="@{{authorinfo.twitter}}">
    {% endif %}

    {% if page.description or page.excerpt %}
    <meta name="description" content="{{ page.description | default: page.excerpt | strip_html | strip_newlines }}">
    <meta property="og:description" content="{{ page.description | default: page.excerpt | strip_html | strip_newlines }}">
    {% endif %}

    {% if page and page.tags.size > 0 %}
    <meta name="keywords" content="{{page.tags | join: ', '}}">
    {% for tag in page.tags %}
    <meta property="og:article:tag" content="{{tag}}">
    {% endfor %}
    {% endif %}

    <link rel="canonical" href="{{site.url}}{{page.url | relative_url}}">
    <link rel="alternate" type="application/rss+xml" title="{{site.my.rsstitle}}" href="{{site.url}}{{'/feed/frontpage.xml' | relative_url}}">
    <link href="{{site.url}}{{'/opensearch.xml' | relative_url}}" rel="search" title="{{site.my.domain}}" type="application/opensearchdescription+xml">

    {% if page.ref and page.locale %}
    {% assign otherlang = site.posts | where_exp: 'item', "item.locale!=page.locale and item.ref==page.ref" %}
    {% if page and otherlang.size > 0 %}
    {% for langpost in otherlang %}
    <link rel="alternate" hreflang="{{langpost.locale}}" href="{{site.url}}{{langpost.url}}">
    {% endfor %}
    {% endif %}
    {% endif %}

    {% if page.robot_noindex %}
    <meta name="robots" content="noindex">
    {% endif %}

    <meta name="apple-mobile-web-app-title" content="serverless.industries">
    <meta name="application-name" content="serverless.industries">
    <link rel="icon" type="image/png" href="{{'/favicon/favicon-96x96.png' | relative_url}}?commit={{site.git.commitlong}}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{'/favicon/favicon.svg' | relative_url}}?commit={{site.git.commitlong}}">
    <link rel="shortcut icon" href="{{'/favicon.ico' | relative_url}}?commit={{site.git.commitlong}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'/favicon/apple-touch-icon.png' | relative_url}}?commit={{site.git.commitlong}}">
    <link rel="manifest" href="{{'/site.webmanifest' | relative_url}}?commit={{site.git.commitlong}}">
    <meta name="theme-color" content="#dec8b3">

</head>

<body>

    <div class="container">

        {{content}}

    </div>

    <script src="{{'/js/jquery-3.7.1.slim.min.js' | relative_url}}?commit={{site.git.commitlong}}" crossorigin="anonymous" defer></script>
    <script src="{{'/js/bootstrap.bundle.min.js' | relative_url}}?commit={{site.git.commitlong}}" crossorigin="anonymous" defer></script>

    <script>
        // check cache state of a url
        const genericEvent = (eventName, eventData) =>
        {
            return new Promise(resolve =>
            {
                // subscribe to response
                const eventCallback = event =>
                {
                    if (event.data.type === eventName + '_RESULT' &&
                        event.data.uid === eventData.uid)
                    {
                        navigator.serviceWorker.removeEventListener('message', eventCallback);
                        resolve(event.data);
                    }
                };

                navigator.serviceWorker.addEventListener('message', eventCallback);

                // send request
                navigator.serviceWorker.ready.then(worker =>
                {
                    worker.active.postMessage({
                        type: eventName,
                        ...eventData
                    });
                });
            });
        };

        const waitUntilCached = (url, skipLocal=false) =>
        {
            return new Promise(resolve =>
            {
                if (!skipLocal)
                {
                    isUrlCached(url).then(res =>
                    {
                        if (res) { resolve(url); }
                    });
                }

                const eventCallback = event =>
                {
                    if (event.data.type === 'URL_CACHED' &&
                        event.data.uid === url)
                    {
                        navigator.serviceWorker.removeEventListener('message', eventCallback);
                        resolve(url);
                    }
                };

                navigator.serviceWorker.addEventListener('message', eventCallback);
            });
        };

        // check cache state of a url
        const isUrlCached = url =>
        {
            return genericEvent('CHECK_OFFLINE_STATE', { uid: url });
        };

        // add URL to cache
        const cacheUrl = url =>
        {
            return genericEvent('ADD_CACHE_URL', { uid: url });
        };

        // remove url from cache
        const unCacheUrl = url =>
        {
            return genericEvent('REMOVE_CACHE_URL', { uid: url });
        }

        // Initialize application
        const appLoad = () =>
        {
            const serviceWorkerEnabled = '{{site.git.enableserviceworker}}';

            // browser supports service workers
            // service worker disabled
            if ('serviceWorker' in navigator && serviceWorkerEnabled === 'false')
            {
                // unregister existing workers
                navigator.serviceWorker.getRegistrations().then(registrations =>
                {
                    for(let registration of registrations)
                    {
                        registration.unregister();
                    }
                });

                // inform other scripts that the
                // app initialization was finished
                window.dispatchEvent(new CustomEvent('appload', { detail:
                {
                    serviceWorker: false,
                    shareApi: !!navigator.share,
                }}));
            }

            // browser supports service workers
            // service worker enabled
            else if ('serviceWorker' in navigator && serviceWorkerEnabled === 'true')
            {
                navigator.serviceWorker
                    .register("{{'/service-worker.js' | relative_url}}") // {{site.time | date: '%s%N'}}")
                    .then(reg => console.log('Service Worker registered with scope:', reg.scope))
                    .catch(err => console.log('Service Worker registration failed: ', err));

                // wait for service worker become ready
                navigator.serviceWorker.ready

                // check for updates
                .then(() =>
                {
                    console.log('Service worker loaded, check for updates...');
                    return genericEvent('CHECK_UPDATES', { uid: 'checkupdate-' + Date.now() });
                })
                .then(res =>
                {
                    // when updates available continue
                    // if not abort promise chain
                    if (res.result > 0)
                    {
                        return navigator.serviceWorker.ready;
                    }
                    else
                    {
                        return Promise.reject('No update available');
                    }
                })

                // update service worker
                .then(worker =>
                {
                    console.log('Update service worker...');
                    return worker.update()
                })

                // reload after update
                .then(() =>
                {
                    location.reload();
                })

                // called when the promise chain is aborted
                .catch(err => console.log(err))

                // service worker initialization finished
                .finally(() =>
                {
                    // inform other scripts that the
                    // app initialization was finished
                    window.dispatchEvent(new CustomEvent('appload', { detail:
                    {
                        serviceWorker: true,
                        shareApi: !!navigator.share,
                    }}));
                });
            }
            // browser doesn't support service workers
            else
            {
                // inform other scripts that the
                // app initialization was finished
                window.dispatchEvent(new CustomEvent('appload', { detail:
                {
                    serviceWorker: false,
                    shareApi: !!navigator.share,
                }}));
            }

            // share link
            document.querySelectorAll('.share-api-link').forEach(el => el.addEventListener('click', () =>
            {
                navigator.share({
                    text: "{{page.title}} - {{site.my.sitetitle}}",
                    url: "{{site.url}}{{page.url | relative_url}}"
                });
            }));
        };

        //document.body.classList.remove('bgcached');
        window.addEventListener('load', () => appLoad());
    </script>

</body>
</html>
