---
layout: content
---

<article class="h-entry" lang="{{page.locale}}">
    <div class="markdown-content">
        <h1 class="p-name">{{page.title}}</h1>

        <div class="p-summary">{{page.excerpt}}</div>

        {% if page.toc %}
        <div class="table-of-contents">
            {% toc %}
        </div>
        {% endif %}

        <div class="e-content">{{ page.content | remove: page.excerpt }}</div>
    </div>

    <hr>

    <p>
        This guide is tagged with {% include tagrow.html current_post=page %}
        and was written on <time class="dt-published" datetime="{{page.date|date: '%Y-%m-%d'}}">{{page.date|date: '%d. %B %Y'}}</time>
        by <a class="p-author h-card" href="{{'/contact.html' | relative_url}}#author-{{page.author}}">{{page.author}}</a>.
    </p>

    {% if page.changelog and page.changelog.size > 0 %}
    <p>Changelog:</p>

    <ul>
        {% assign sorted_changelog = page.changelog | sort: 'timestamp' | reverse %}
        {% for log in sorted_changelog %}
        <li><strong><time{% if forloop.last %} class="dt-updated"{% endif %} datetime="{{log.timestamp|date: '%Y-%m-%d'}}">{{log.timestamp|date: '%d.%m.%Y'}}</time>:</strong> {{log.comment}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</article>

<hr>

<div class="post-bottom-bar">
    <div class="bar-left">

        <a href="{{'/guides' | relative_url}}">go back</a>

    </div>
    <div class="bar-right">

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" rel="external license nofollow noreferrer noopener" target="_blank">
            <img alt="Creative Commons License" style="border-width: 0px;" src="{{'/css/cc-80x15.png' | relative_url}}?commit={{site.git.commitlong}}">
        </a>

    </div>
</div>

{% include anchorlinks.html %}
