---
layout: content
---

<div class="list-lang-switch-info">
    {% if page.frontpage %}
    Showing all postings; Filter: <a href="{{'/index/en/' | relative_url}}">English</a>, <a href="{{'/index/de/' | relative_url}}">Deutsch</a>

    {% elsif page.locale == "de" %}
    Showing only German postings; Filter: <a href="{{'/index/' | relative_url}}">All</a>, <a href="{{'/index/en/' | relative_url}}">English</a>

    {% elsif page.locale == "en" %}
    Showing only English postings; Filter: <a href="{{'/index/' | relative_url}}">All</a>, <a href="{{'/index/de/' | relative_url}}">Deutsch</a>

    {% endif %}
</div>

<div class="row postlist">

    {% for post in paginator.posts %}
        {% assign nowts = 'now' | date: '%s' %}
        {% assign postts = post.date | date: '%s' %}
        <div class="col-xs-12 col-md-6 postlistitem{% if nowts < postts %} future{% endif %}{% if post.draft %} draft{% endif %}{% if post.published == false %} unpublished{% endif %}">
            <article>
                <h3>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    {% if post.featured %}<span class="mdi mdi-star" style="color: orange;" title="Featured Article"></span>{% endif %}
                </h3>
                <p>
                    {% include tagiconrow.html current_post=post %}
                    {{ post.excerpt|strip_html }} [...]

                    <em>
                        {% if post.posttype == "post" %}- written on <time datetime="{{post.date|date: '%Y-%m-%d'}}">{{post.date|date: '%d. %B %Y'}}</time>{% endif %}
                        <!-- written by {{post.author}}
                        on {{post.date|date: '%d. %B %Y'}} -->
                        {% if nowts < postts %}(future){% endif %}
                        {% if post.draft %}(draft){% endif %}
                        {% if post.published == false %}(unpublished){% endif %}
                    </em>
                </p>
            </article>
        </div>
    {% endfor %}

</div>

{% if paginator.previous_page_path or paginator.next_page_path %}
    <div class="row paginator">
        <div class="col">
            <hr>

            {% if paginator.previous_page_path %}
                <a href="{{paginator.previous_page_path}}">Previous Page</a>
            {% endif %}
            {% if paginator.next_page_path %}
                <a href="{{paginator.next_page_path}}">Next Page</a>
            {% endif %}
        </div>
    </div>
{% endif %}
