---
layout: content
---

<div class="list-lang-switch-info">
    {% if page.frontpage %}
    Language/Sprache: <a href="{{'/index/en/' | relative_url}}">English</a>, <a href="{{'/index/de/' | relative_url}}">Deutsch</a>

    {% elsif page.locale == "de" %}
    Language/Sprache: <a href="{{'/index' | relative_url}}">All</a>, <a href="{{'/index/en/' | relative_url}}">English</a>

    {% elsif page.locale == "en" %}
    Language/Sprache: <a href="{{'/index' | relative_url}}">All</a>, <a href="{{'/index/de/' | relative_url}}">Deutsch</a>

    {% endif %}
</div>

<div class="row postlist">

    {% for post in paginator.posts %}
        {% assign nowts = 'now' | date: '%s' %}
        {% assign postts = post.date | date: '%s' %}
        <div class="col-xs-12 col-md-6 postlistitem{% if nowts < postts %} future{% endif %}{% if post.draft %} draft{% endif %}{% if post.published == false %} unpublished{% endif %}">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <p>
            {% assign sorted_tags = post.tags | sort %}
            {% assign glyphs = '' %}
            {%-for tag in sorted_tags %}
                {% assign tagicon = site.data.tags | where_exp: 'item', "item.name == tag" %}
                {% if tagicon[0] %}
                    {% assign glyphs = glyphs | append: ',' | append: tagicon[0].glyph | append: ',' %}
                {% endif %}
            {% endfor %}

            <span class="tagsummary">{{post.locale}}</span>

            {% if glyphs.size > 0 %}
                <span class="tagsummary">{{ glyphs | split: ',' | uniq | where_exp: 'item', 'item != ""' | join: '</span> <span class="tagsummary">' }}</span>
            {% endif %}

            {{ post.excerpt|strip_html }} [...]

            <em>
                - written on {{post.date|date: '%d. %B %Y'}}
                <!-- written by {{post.author}}
                on {{post.date|date: '%d. %B %Y'}} -->
                {% if nowts < postts %}(future){% endif %}
                {% if post.draft %}(draft){% endif %}
                {% if post.published == false %}(unpublished){% endif %}
            </em>
        </p>
        </div>
    {% endfor %}

</div>

{% if paginator.previous_page_path or paginator.next_page_path %}
    <div class="row paginator">
        <div class="col">
            <hr>

            {% if paginator.previous_page_path %}
                <a href="{{paginator.previous_page_path}}">Previous Page</a>
            {% endif %}
            {% if paginator.next_page_path %}
                <a href="{{paginator.next_page_path}}">Next Page</a>
            {% endif %}
        </div>
    </div>
{% endif %}
