---
layout: default
---
<div class="row mainpage">
    <div class="col">

        <div class="row topmenu">
            <div class="col">

                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{'/' | relative_url}}"><i class="fas fa-server"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{'/' | relative_url}}">
                                    Latest posts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{'/tags.html' | relative_url}}">
                                    Tags
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{'/authors.html' | relative_url}}">
                                    Authors
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% post_url 2019/2019-05-01-about-this-project %}">
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://blechert.name/imprint.php?hash=a53ba559c4c8d5412a11ebcdccea73cb" target="_blank">
                                    Imprint &amp; Privacy
                                </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown d-none d-lg-inline">
                                <a class="nav-link dropdown-toggle" href="#" id="searchMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="padding: 0px; width: 300px;" aria-labelledby="searchMenu">
                                    <form class="p-2" method="GET" action="https://www.google.com/search" target="_blank">
                                        <input type="hidden" name="sitesearch" value="{{site.my.domain}}">
                                        <div class="input-group">
                                            <input type="text" name="q" class="form-control" placeholder="Google Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="navbar-item">
                                <a class="nav-link" href="{{'/feed.xml' | relative_url}}" target="_blank">
                                    <i class="fas fa-rss-square d-none d-lg-inline"></i>
                                    <span class="d-xs-inline d-lg-none">RSS Feed</span>
                                </a>
                            </li>
                            <li class="navbar-item share-api-link hidden">
                                <a class="nav-link" href="javascript:void(0)">
                                    <i class="fas fa-share-alt d-none d-lg-inline"></i>
                                    <span class="d-xs-inline d-lg-none">Share</span>
                                </a>
                            </li>
                        </ul>

                        <form class="form-inline my-2 my-lg-0 d-xs-inline d-lg-none" method="GET" action="https://www.google.com/search" target="_blank">
                            <input type="hidden" name="sitesearch" value="{{site.my.domain}}">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Google Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </nav>

            </div>
        </div>

        {% assign otherlang = site.posts | where_exp: 'item', "item.lang!=page.lang and item.ref==page.ref" %}
        {% if page and otherlang and otherlang.size > 0 %}
        <div class="row langmenu">
            <div class="col">

                {% if otherlang.size > 0 %}
                    This article is also available in the following other languages /
                    Dieser Beitrag ist auch in folgenden anderen Sprachen verfügbar:
                    {%-for langpost in otherlang %}
                        <a href="{{langpost.url | relative_url}}">{{site.langmap[langpost.lang]}}</a>{% if forloop.last==false %}, {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        {% endif %}

        {{content}}

    </div>
</div>

<div class="row mainfooter">
    <div class="col">
        <i class="fas fa-server"></i>
        {{site.my.domain}}
        <i class="fas fa-industry"></i>
        Image by <a href="https://commons.wikimedia.org/wiki/File:Datacenter_Empty_Floor_(22166545884).jpg" target="_blank" rel="external nofollow noreferrer noopener">Carl Lender (CC BY 2.0)</a>
        <i class="fas fa-server"></i>
    </div>
</div>
