---
layout: content
---

{% assign nowts = 'now' | date: '%s' %}
{% assign postts = page.date | date: '%s' %}
<h1>{{page.title}}</h1>
<p>
    {{page.date|date: '%Y-%m-%d'}} -
    {{page.author}} -
    {% if nowts < postts %}future - {% endif %}
    {% if page.draft %}draft - {% endif %}
    {% if page.published == false %}unpublished - {% endif %}
    {% assign sorted_tags = page.tags | sort %}
    {%-for tag in sorted_tags %}
        {% assign tagicon = site.data.tags | where_exp: 'item', "item.name == tag" %}
        <span class="tagitem">
        {% if tagicon[0] %}
            <span class="tagicon">{{tagicon[0].glyph}}</span>
        {% endif %}
        <a href="{{'/tags.html' | relative_url}}#{{tag|slugify}}">{{tag}}</a></span>{% if forloop.last==false %}, {% endif %}
    {% endfor %}
</p>

{% if page.toc %}
<div class="table-of-contents">
    {% toc %}
</div>
{% endif %}

<div class="markdown-content">
    <article>
        {{content}}
    </article>
</div>

<hr>

<div class="post-bottom-bar">
    <div class="bar-left">

        <a href="{{'/' | relative_url}}">go back</a>

    </div>
    <div class="bar-right">

        <a href="javascript:void(0)" class="make-offline hidden">make offline copy</a>
        <a href="javascript:void(0)" class="unmake-offline hidden">delete offline copy</a>

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" rel="external license nofollow noreferrer noopener" target="_blank">
            <img alt="Creative Commons License" style="border-width: 0px;" src="{{'/css/cc-80x15.png' | relative_url}}">
        </a>

    </div>
</div>

<script>
    window.addEventListener('appload', event =>
    {
        const makeEl = document.querySelector('.make-offline');
        const unmakeEl = document.querySelector('.unmake-offline');

        const switchOffline = res =>
        {
            (res ? makeEl : unmakeEl).classList.add('hidden');
            (res ? unmakeEl : makeEl).classList.remove('hidden');
        };

        makeEl.addEventListener('click', () =>
        {
            cacheUrl(location.href).then(res => switchOffline(res.result));
        });

        unmakeEl.addEventListener('click', () =>
        {
            unCacheUrl(location.href).then(res => switchOffline(!res.result));
        });

        isUrlCached(location.href).then(res =>
        {
            switchOffline(res.result);
        });
    });
</script>
