---
layout: authoredcontent
---

{% assign author = site.authors | where_exp:"item","item.short_name==page.author" | first %}

{% if page.gone %}
    <!-- Page gone -->

    <article>
        <h1>Gone</h1>
        <p>This page was deleted and is not available anymore.</p>
    </article>

{% else %}
    <!-- Page content -->

    {% assign nowts = 'now' | date: '%s' %}
    {% assign postts = page.date | date: '%s' %}
    <article class="h-entry" lang="{{page.locale}}">
        <h1 class="p-name">{{page.title}}</h1>

        <p>
            <time class="dt-published" datetime="{{page.date|date: '%Y-%m-%d'}}">{{page.date|date: '%d. %B %Y'}}</time> &middot;
            <a class="p-author h-card" href="{{author.url | absolute_url}}">{{page.author}}</a> &middot;
            {% if nowts < postts %}future &middot; {% endif %}
            {% if page.draft %}draft &middot; {% endif %}
            {% if page.published == false %}unpublished &middot; {% endif %}
            {% include tagrow.html current_post=page %}
        </p>

        <p class="p-summary" style="display: none;">{{page.excerpt|strip_html}}</p>

        {% if page.toc %}
        <div class="table-of-contents">
            {% toc %}
        </div>
        {% endif %}

        <div class="markdown-content e-content">
            {{content}}
        </div>

        <a class="u-url" style="display:none;" href="{{page.url | absolute_url}}">permalink</a>
    </article>

{% endif %}

{% if page.series %}
    <!-- Post series link list -->
    {% assign series = site.posts | where_exp:"item","item.series.tag==page.series.tag" | sort: "series.index" %}
    {% if series.size > 1 %}
        <hr>
        <h4>Current article series</h4>
        <ul class="active-list">
            {% for seritem in series %}
                {% if seritem.id == page.id %}
                    <li class="active">Part {{forloop.index}}: {{seritem.title}}</li>
                {% else %}
                    <li>Part {{forloop.index}}: <a href="{{ seritem.url | relative_url }}">{{seritem.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<!-- Webmention reactions -->
<hr>
{% assign postkey = page.url | relative_url %}
{% assign comments = site.data.comments[postkey] %}
<h4>Reactions</h4>
{% if comments.size > 0 %}
    <ul class="reactions">
        {% for comment in comments %}
            {% if comment.type == 'mention' %}
                <li>
                    <span class="mdi mdi-link-variant"></span>
                    {{comment.author | strip_html | default: 'Someone'}}
                    <a href="{{comment.url}}" target="_blank">mentioned</a> this post
                    on <time datetime="{{comment.mentioned_at}}">{{comment.mentioned_at|date: '%d. %B %Y'}}</time>.
                </li>
            {% elsif comment.type == 'like' or comment.type == 'bookmark' %}
                <li>
                    <span class="mdi {% if comment.type=='like' %}mdi-thumb-up-outline{% else %}mdi-bookmark-outline{% endif %}"></span>
                    {{comment.author | strip_html | default: 'Someone'}}
                    <a href="{{comment.url}}" target="_blank">{% if comment.type=='like' %}liked{% else %}bookmarked{% endif %}</a> this post
                    on <time datetime="{{comment.mentioned_at}}">{{comment.mentioned_at|date: '%d. %B %Y'}}</time>.
                </li>
            {% elsif comment.type == 'comment' %}
                <li>
                    <span class="mdi mdi-comment-outline"></span>
                    {{comment.author | default: 'Someone' | strip_html}}
                    <a href="{{comment.url}}" target="_blank">commented</a>
                    on <time datetime="{{comment.mentioned_at}}">{{comment.mentioned_at|date: '%d. %B %Y'}}</time>:
                    <blockquote>{{comment.content | strip_html | truncate: 240}}</blockquote>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p><em>Reactions and comments can be submitted via <a href="https://indieweb.org/like" target="_blank">Webmention</a>.</em></p>
{% else %}
    <p>There are no reactions so far. Send one via <a href="https://indieweb.org/like" target="_blank">Webmention</a>!</p>
{% endif %}

<!-- More posts selected by jekyll algorithm -->
{% assign locale = page.locale | default: 'de' %}
{% assign relas = site.related_posts | where: "locale", locale | slice:1, 5 %}
{% if relas.size > 0 %}
    <hr>
    <h4>More</h4>
    <ul>
        {% for rela in relas %}
            <li><a href="{{ rela.url | relative_url }}">{{ rela.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% include anchorlinks.html %}

<script>
    window.addEventListener('appload', event =>
    {
        // offline feature for posts
        if (event.detail.serviceWorker)
        {
            const makeEl = document.querySelector('.make-offline');
            const unmakeEl = document.querySelector('.unmake-offline');

            const switchOffline = res =>
            {
                (res ? makeEl : unmakeEl).classList.add('hidden');
                (res ? unmakeEl : makeEl).classList.remove('hidden');
            };

            // find html document and all images
            const cacheUrls = [
                location.href,
                ... Array.from(document.querySelector('.markdown-content').querySelectorAll('img')).map(el => el.src),
            ];

            // make everything offline available
            makeEl.addEventListener('click', () =>
            {
                Promise.all(cacheUrls.map(url => cacheUrl(url))).then(res => switchOffline(res.every(r => r.result === true)));
            });

            // delete cache
            unmakeEl.addEventListener('click', () =>
            {
                Promise.all(cacheUrls.map(url => unCacheUrl(url))).then(res => switchOffline(res.every(r => r.result === false)));
            });

            // check state for all elements
            Promise.all(cacheUrls.map(url => isUrlCached(url))).then(results =>
            {
                const result = results.every(result => result.result === true);
                switchOffline(result);
            });
        }

        // show share button on post pages
        if (event.detail.shareApi)
        {
            document.querySelectorAll('.share-api-link').forEach(el =>
            {
                el.classList.remove('hidden');
            });
        }
    });
</script>

{% if page.usemermaid %}
<script src="{{'js/mermaid-10.9.1/mermaid.min.js' | relative_url}}?commit={{site.git.commitlong}}"></script>
<script>
    window.addEventListener('appload', event =>
    {
        mermaid.initialize({
            startOnLoad: true,
            theme: "neutral",
        });

        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
</script>
{% endif %}
