---
layout: content
---

{% assign author = site.authors | where_exp:"item","item.short_name==page.author" | first %}

{% if page.gone %}

    <article>
        <h1>Gone</h1>
        <p>This page was deleted and is not available anymore.</p>
    </article>

{% else %}

    {% assign nowts = 'now' | date: '%s' %}
    {% assign postts = page.date | date: '%s' %}
    <article class="h-entry">
        <h1 class="p-name">{{page.title}}</h1>

        <p>
            <time class="dt-published" datetime="{{page.date|date: '%Y-%m-%d'}}">{{page.date|date: '%d. %B %Y'}}</time> &middot;
            <a class="p-author h-card" href="{{author.url}}">{{page.author}}</a> &middot;
            {% if nowts < postts %}future &middot; {% endif %}
            {% if page.draft %}draft &middot; {% endif %}
            {% if page.published == false %}unpublished &middot; {% endif %}
            {% include tagrow.html current_post=page %}
        </p>

        <p class="p-summary" style="display: none;">{{page.excerpt|strip_html}}</p>

        {% if page.toc %}
        <div class="table-of-contents">
            {% toc %}
        </div>
        {% endif %}

        <div class="markdown-content e-content">
            {{content}}
        </div>

        <a class="u-url" style="display:none;" href="{{page.url}}">permalink</a>
    </article>

{% endif %}

{% if page.series %}
    {% assign series = site.posts | where_exp:"item","item.series.tag==page.series.tag" | sort: "series.index" %}
    {% if series.size > 1 %}
        <hr>
        <h4>Current article series</h4>
        <ul class="active-list">
            {% for seritem in series %}
                {% if seritem.id == page.id %}
                    <li class="active">Part {{forloop.index}}: {{seritem.title}}</li>
                {% else %}
                    <li>Part {{forloop.index}}: <a href="{{ seritem.url | relative_url }}">{{seritem.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<hr>
<div class="h-card">
    <h4>About me</h4>

    <p class="p-note">{{author.short_text}}</p>

    <ul class="list-inline">
        {% if author.mastodon %}
        <li class="list-inline-item">
            <a href="{{author.mastodon}}" rel="me external nofollow noreferrer noopener" target="_blank">
                <i class="mdi mdi-mastodon"></i>
                {{author.mastodonhandle}}
            </a>
        </li>
        {% endif %}
        {% if author.github %}
            <li class="list-inline-item">
                <a href="https://github.com/{{author.github}}" rel="me external nofollow noreferrer noopener" target="_blank">
                    <i class="mdi mdi-github"></i>
                    {{author.github}}
                </a>
            </li>
        {% endif %}
        <li class="list-inline-item">
            <a class="u-url u-uid" href="{{author.url}}">
                <i class="mdi mdi-home-account"></i>
                my page
            </a>
        </li>
    </ul>
</div>

{% assign locale = page.locale | default: 'de' %}
{% assign relas = site.related_posts | where: "locale", locale | slice:1, 5 %}
{% if relas.size > 0 %}
    <hr>
    <h4>More</h4>
    <ul>
        {% for rela in relas %}
            <li><a href="{{ rela.url | relative_url }}">{{ rela.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<hr>

<div class="post-bottom-bar">
    <div class="bar-left">

        <a href="{{'/' | relative_url}}">go back</a>

    </div>
    <div class="bar-right">

        <a href="javascript:void(0)" class="make-offline hidden">make offline copy</a>
        <a href="javascript:void(0)" class="unmake-offline hidden">delete offline copy</a>

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" rel="external license nofollow noreferrer noopener" target="_blank">
            <img alt="Creative Commons License" style="border-width: 0px;" src="{{'/css/cc-80x15.png' | relative_url}}?commit={{site.git.commitlong}}">
        </a>

    </div>
</div>

{% include anchorlinks.html %}

<script>
    window.addEventListener('appload', event =>
    {
        // offline feature for posts
        if (event.detail.serviceWorker)
        {
            const makeEl = document.querySelector('.make-offline');
            const unmakeEl = document.querySelector('.unmake-offline');

            const switchOffline = res =>
            {
                (res ? makeEl : unmakeEl).classList.add('hidden');
                (res ? unmakeEl : makeEl).classList.remove('hidden');
            };

            // find html document and all images
            const cacheUrls = [
                location.href,
                ... Array.from(document.querySelector('.markdown-content').querySelectorAll('img')).map(el => el.src),
            ];

            // make everything offline available
            makeEl.addEventListener('click', () =>
            {
                Promise.all(cacheUrls.map(url => cacheUrl(url))).then(res => switchOffline(res.every(r => r.result === true)));
            });

            // delete cache
            unmakeEl.addEventListener('click', () =>
            {
                Promise.all(cacheUrls.map(url => unCacheUrl(url))).then(res => switchOffline(res.every(r => r.result === false)));
            });

            // check state for all elements
            Promise.all(cacheUrls.map(url => isUrlCached(url))).then(results =>
            {
                const result = results.every(result => result.result === true);
                switchOffline(result);
            });
        }

        // show share button on post pages
        if (event.detail.shareApi)
        {
            document.querySelectorAll('.share-api-link').forEach(el =>
            {
                el.classList.remove('hidden');
            });
        }
    });
</script>

{% if page.usemermaid %}
<script src="{{'js/mermaid-10.9.1/mermaid.min.js' | relative_url}}?commit={{site.git.commitlong}}"></script>
<script>
    window.addEventListener('appload', event =>
    {
        mermaid.initialize({
            startOnLoad: true,
            theme: "neutral",
        });

        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
</script>
{% endif %}
