---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

# error pages
ErrorDocument 404 {{'/notfound.html' | relative_url}}

# Headers
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Content-Type-Options "nosniff"
Header always set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src https: data:; media-src https:; form-action https:; frame-src https://media.ccc.de/"
Header always set Referrer-Policy "strict-origin-when-cross-origin"
Header always set Permissions-Policy "autoplay=()"
Header always append Permissions-Policy "battery=()"
Header always append Permissions-Policy "camera=()"
Header always append Permissions-Policy "display-capture=()"
Header always append Permissions-Policy "fullscreen=()"
Header always append Permissions-Policy "geolocation=()"
Header always append Permissions-Policy "microphone=()"
Header always set X-Serverless "1"

# cache assets
<FilesMatch "\.(ico|webmanifest|pdf|flv|jpg|jpeg|png|gif|js|css|svg|eot|ttf|woff|woff2)$">
    Header set Cache-Control "max-age=43200, public"
</FilesMatch>

# rewrite rules
RewriteEngine On

# redirect shortlinks
{%- for shortlink in site.data.shortlinks %}
RewriteCond %{HTTP_HOST} ^{{site.my.shortdomain | replace: ".", "\\."}}$ [NC]
RewriteRule ^{{shortlink.name}}$ {{shortlink.target}} [L,R=302]
{% endfor %}

# redirect to real domain
RewriteCond %{HTTP_HOST} !^{{site.my.domain | replace: ".", "\\."}}$ [NC]
RewriteRule ^(.*)$ https://{{site.my.domain}}/$1 [L,R=301,E=REDIRCACHE:true]

# redirect to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://{{site.my.domain}}/$1 [L,R=301,E=REDIRCACHE:true]

# redirect to start page
RewriteRule ^$ {{'/index' | relative_url}} [L,R=301,E=REDIRCACHE:true]

# redirect to rss feed
RewriteRule ^feed\.xml$ {{'/feed/frontpage.xml' | relative_url}} [L,R=302]

# rewrites from old anysrc.net posts
RewriteRule ^post/gnu-linux/amazon-dash-button-hack /2022/03/11/hack-the-dashbutton.html [L,R=301,E=REDIRCACHE:true]
RewriteRule ^post/gnu-linux/netcup-kvm-vserver-lxc-proxmox /2020/05/01/proxmox-lxc-netcup.html [L,R=301,E=REDIRCACHE:true]
RewriteRule ^post/sonstiges/supermicro-ipmi-fan-control-rpm /2022/03/17/supermicro-ipmi-fanspeed.html [L,R=301,E=REDIRCACHE:true]
RewriteRule ^post/gnu-linux/zfs-tunables /2019/03/03/zfs-tunables.html [L,R=301,E=REDIRCACHE:true]

# rewrites from superseded posts
RewriteRule ^tags\.html /tag/ [L,R=301]
RewriteRule ^2022/12/23/taskomat-update\.html /2023/04/16/tastomat-update-2023-1.html [L,R=301,E=REDIRCACHE:true]
RewriteRule ^2020/08/09/taskomat-gitlab-personal-todo\.html /2023/04/16/tastomat-update-2023-1.html [L,R=301,E=REDIRCACHE:true]
RewriteRule ^2020/09/13/taskomat-counters\.html /2023/04/16/tastomat-update-2023-1.html [L,R=301,E=REDIRCACHE:true]

# Cache Control header for permanent redirects
Header always set Cache-Control "max-age=604800, public" env=REDIRCACHE

# fun for script kiddies
RewriteRule ^wp-login\.php$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule ^wp-admin(/.*)?$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule ^\.env$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule ^\.git(/.*)?$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule ^typo3(/.*)?$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule ^admin(/.*)?$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule ^administrator(/.*)?$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
RewriteRule \.sql$ https://www.youtube.com/watch?v=dQw4w9WgXcQ [L,R=302]
