---
layout: authoredcontent
permalink: /archive.html
title: Archive
locale: en
---

<h1>Archive</h1>
<p>All posts sorted by year and month.</p>

{% assign archiveposts = site.categories.frontpage | sort: "date" | reverse | group_by: "year" %}

<div class="archivelist">
{% for year in archiveposts %}
    {% unless forloop.first %}
    <hr>
    {% endunless %}

    {% assign postyear = year.items[0].date | date: '%Y' %}
    <h2>{{postyear}} <small class="text-muted">({{year.items.size}})</small></h2>

    {% if site.data.yearslogans[postyear] %}
        <p>{{site.data.yearslogans[postyear]}}</p>
    {% endif %}

    <div class="row">

    {% assign months = year.items | sort: "date" | reverse | group_by: "yearmonth" %}
    {% for month in months %}
        <div class="col-12 col-md-6">
            <h3>{{month.items[0].date | date: '%B'}} <small class="text-muted">({{month.items.size}})</small></h3>
            <ul>
                {% assign posts = month.items | sort: "date" %}
                {% for post in posts %}
                    <li>
                        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                        {% if post.featured %}<span class="mdi mdi-star" style="color: orange;" title="Featured Article"></span>{% endif %}
                        ({{post.locale|default: 'de'}})
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    </div>
{% endfor %}
</div>
