---
layout: content
title: Authors
---

<h1>Authors</h1>

{% for author in site.authors %}
    <h3>
        {{ author.name }}
        {% if author.job %}
            <small class="text-muted">{{author.job}}</small>
        {% endif %}
    </h3>
    
    {{ author.content | markdownify }}

    <ul class="list-inline">
        {% if author.github %}
            <li class="list-inline-item">
                <a href="https://github.com/{{author.github}}" rel="external nofollow noreferrer noopener" target="_blank">
                    <i class="fab fa-github"></i>
                    {{author.github}}
                </a>
            </li>
        {% endif %}
        {% if author.twitter %}
            <li class="list-inline-item">
                <a href="https://twitter.com/{{author.twitter}}" rel="external nofollow noreferrer noopener" target="_blank">
                    <i class="fab fa-twitter"></i>
                    @{{author.twitter}}
                </a>
            </li>
        {% endif %}
        {% if author.email %}
            <li class="list-inline-item">
                <a href="mailto:{{author.email}}">
                    <i class="far fa-envelope"></i>
                    {{author.email}}
                </a>
            </li>
        {% endif %}
    </ul>
{% endfor %}
