---
layout: content
permalink: /contact.html
title: Contact
---

<h1>Contact</h1>
<p>Some infos about the author(s) of this page.</p>

{% for author in site.authors %}
    <h2 id="author-{{author.short_name}}">
        {{ author.name }}
        {% if author.job %}
            <small class="text-muted">{{author.job}}</small>
        {% endif %}
    </h2>

    {{ author.content | markdownify }}

    <ul class="list-inline">
        {% if author.github %}
            <li class="list-inline-item">
                <a href="https://github.com/{{author.github}}" rel="external nofollow noreferrer noopener" target="_blank">
                    <i class="mdi mdi-github"></i>
                    {{author.github}}
                </a>
            </li>
        {% endif %}
        {% if author.mastodon %}
            <li class="list-inline-item">
                <a href="{{author.mastodon}}" rel="external nofollow noreferrer noopener" target="_blank">
                    <i class="mdi mdi-mastodon"></i>
                    {{author.mastodonhandle}}
                </a>
            </li>
        {% endif %}
        {% if author.twitter %}
            <li class="list-inline-item">
                <a href="https://twitter.com/{{author.twitter}}" rel="external nofollow noreferrer noopener" target="_blank">
                    <i class="mdi mdi-twitter"></i>
                    @{{author.twitter}}
                </a>
            </li>
        {% endif %}
        {% if author.email %}
            <li class="list-inline-item">
                <a href="mailto:{{author.email}}">
                    <i class="mdi mdi-email"></i>
                    {{author.email}}
                </a>
            </li>
        {% endif %}
        {% if author.gnupg %}
            <li class="list-inline-item">
                <a href="{{author.gnupg}}">
                    <i class="mdi mdi-key"></i>
                    GnuPG
                </a>
            </li>
        {% endif %}
    </ul>
{% endfor %}
