---
layout: content
title: Projects
---

<h1>Projects</h1>

{% for project in site.projects %}
    <section class="project">
        <h2>
            {{ project.title }}
            <small class="text-muted">{{project.projecttype}}</small>
        </h2>
        
        {% if project.image %}
            <img src="{{project.image | relative_url}}" alt="{{ project.title }}" class="project-picture img-fluid">
        {% endif %}
        
        {{ project.content | markdownify }}
        
        <p>
            <a href="{{project.projecturl}}" target="_blank">More info</a>
        </p>
    </section>
{% endfor %}
