---
layout: content
title: Projects
---

<h1>Projects</h1>

<p>
    A list of my active and past projects.
</p>

<div class="table-of-contents">
    <ul id="toc" class="section-nav">
        {% for project in site.projects %}
            <li class="toc-entry toc-h2"><a href="#{{project.ref}}">{{project.title}}</a></li>
        {% endfor %}
    </ul>
</div>

{% for project in site.projects %}
    <section class="project">
        <h2 id="{{project.ref}}">
            {{ project.title }}
            <small class="text-muted">{{project.projecttype}}</small>
        </h2>

        {% if project.image %}
            <img src="{{project.image | relative_url}}" alt="{{ project.title }}" class="project-picture img-fluid">
        {% endif %}

        {{ project.content | markdownify }}

        {% if project.projecturl %}
            <p>Project URL: <a href="{{project.projecturl}}" target="_blank">{{project.projecturl}}</a></p>
        {% endif %}

        {% if project.projecttag %}
            {% assign posts = site.posts | where_exp: "item", "item.tags contains project.projecttag" | sort: "date" %}
            {% if posts.size > 0 %}
                <p>Related Blog Posts:</p>
                <ul>
                {% for post in posts %}
                    <li><a href="{{ post.url | relative_url }}">{{post.title}}</a> ({{post.locale}}, {{post.date|date: '%Y-%m-%d'}})</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        <p style="text-align: right;"><a href="#content-top">Back to top</a></p>
    </section>
{% endfor %}
