---
layout: content
title: Tags
---
<h1>Tags used in the articles</h1>

<noscript>
    <p><strong>This site requires Javascript to work properly.</strong></p>
</noscript>

<div class="tagindex">
    {% assign taggroups = site.tags | group_by_exp: "item", "item[0] | truncate: 1, '' | downcase" | sort: "name" %}
    {% for taggroup in taggroups %}
        <span class="taggroup">
            <span class="taggroupbegin"><span class="tagletter">{{taggroup.name | upcase}}</span>

            {% assign sortedtaggroup = taggroup.items | sort %}
            {% for tag in sortedtaggroup %}
                <a href="#{{tag[0]|slugify}}">{{tag[0]}}</a>
                {%- if forloop.first -%}</span>{%- endif -%}
                {%- if forloop.last==false %}, {% endif %}
            {% endfor %}
        </span>
    {% endfor %}
</div>

{% assign sortedtags = site.tags | sort %}
{% for tag in sortedtags %}
    <div class="tagcontainer tag-{{tag[0]|slugify}}">
        <h2>{{tag[0]}}</h2>
        <ul>
            {% assign sortedposts = tag[1] | sort_natural: "title" %}
            {% for post in sortedposts %}
                <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{post.lang}})</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

<script type="text/javascript">
    (function() {

        var showTag = function(hash)
        {
            Array.from(document.querySelectorAll('.tagcontainer')).forEach(function(item)
            {
                item.classList.add("hidden");
            });

            var el = document.querySelector(".tagcontainer.tag-"+hash.substring(1));
            if(el)
            {
                el.classList.remove("hidden");
                el.scrollIntoView(true);
            }
        };

        showTag(window.location.hash);

        window.onhashchange = function()
        {
            showTag(window.location.hash);
        };

    })();
</script>
