---
layout: content
title: Tags
---
<h1>Article Tags</h1>

<p>
    A list of all tags used in the articles.
</p>

<noscript>
    <p><strong>This site requires Javascript to work properly.</strong></p>
</noscript>

{% assign sortedtags = site.tags | sort %}
{% for tag in sortedtags %}
    <div class="tagcontainer tag-{{tag[0]|slugify}}">
        {% assign tagicon = site.data.tags | where_exp: 'item', "item.name == tag[0]" %}
        <h2>
            {% if tagicon[0] %}
                <span class="tagicon">{{tagicon[0].glyph}}</span>
            {% endif %}
            {{tag[0]}}
        </h2>
        {% for langitem in site.langmap %}
            {% assign sortedposts = tag[1] | where_exp: 'item', "item.lang == langitem[0]" | sort_natural: "title" %}
            {% if sortedposts.size > 0 %}
                <p>{{langitem[1].postlist}}:</p>
                <ul>
                    {% for post in sortedposts %}
                        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{post.date|date: '%Y-%m-%d'}})</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

<h2 class="all-tags">Other Tags</h2>

<div class="tagindex">
    {% assign taggroups = site.tags | group_by_exp: "item", "item[0] | truncate: 1, '' | downcase" | sort: "name" %}
    {% for taggroup in taggroups %}
        <span class="taggroup">
            <span class="taggroupbegin"><span class="tagletter">{{taggroup.name | upcase}}</span>

            {% assign sortedtaggroup = taggroup.items | sort %}
            {% for tag in sortedtaggroup %}
                {%- assign tagicon = site.data.tags | where_exp: 'item', "item.name == tag[0]" -%}
                <span class="tagitem">
                    {% if tagicon[0] %}
                        <span class="tagicon">{{tagicon[0].glyph}}</span>
                    {% endif %}
                    <a href="#{{tag[0]|slugify}}">{{tag[0]}}</a></span>
                {%- if forloop.first -%}</span>{%- endif -%}
                {%- if forloop.last==false %}, {% endif %}
            {% endfor %}
        </span>
    {% endfor %}
</div>

<script type="text/javascript">
    (function() {

        document.querySelector('.all-tags').style.display = "none";

        var showTag = function(hash)
        {
            Array.from(document.querySelectorAll('.tagcontainer')).forEach(function(item)
            {
                item.classList.add("hidden");
            });

            var el = document.querySelector(".tagcontainer.tag-"+hash.substring(1));
            if(el)
            {
                el.classList.remove("hidden");
                el.scrollIntoView(true);
                document.querySelector('.all-tags').style.display = ""
            }
            else
            {
                document.querySelector('.all-tags').style.display = "none";
            }
        };

        showTag(window.location.hash);

        window.onhashchange = function()
        {
            showTag(window.location.hash);
        };

    })();
</script>
